
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragment/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>

	<div class="container">
		<div class="card" style="max-width: 100%;">
			<div class="card-header">Membresia</div>
			<div class="card-body">


				<form th:object="${affiliate}"
					th:action="@{/affiliates/update/{id}(id=${affiliate.id})}"
					class="row g-3 needs-validation" novalidate th:method="post">


					<div class="col-md-6">
						<label for="validationCustom01" class="form-label">
							Nombres</label> <input type="text" class="form-control" id="firstname"
							th:field="*{firstName}" placeholder="Escriba sus nombres"
							aria-label="readonly input example" readonly required>
						<div class="valid-feedback">Looks good!</div>
					</div>

					<div class="col-md-6">
						<label for="validationCustom01" class="form-label">
							Apellidos</label> <input type="text" class="form-control" id="lastname"
							th:field="*{lastName}" placeholder="Escriba sus apellidos"
							aria-label="readonly input example" readonly required>
						<div class="valid-feedback">Looks good!</div>
					</div>
					<br> <br> <br> <br>
					<div class="col-md-6">
						<label for="validationCustom01" class="form-label"> Nombre
							de la empresa</label> <input type="text" class="form-control"
							id="companyName" th:field="*{companyName}"
							placeholder="Escriba el nombre de la empresa"
							aria-label="readonly input example" readonly required>
						<div class="valid-feedback">Looks good!</div>
					</div>

					<div class="col-md-6">
						<label for="validationCustom01" class="form-label"> Correo
							electronico</label> <input type="text" class="form-control" id="email"
							th:field="*{email}" placeholder="Escriba su correo electronico"
							aria-label="readonly input example" readonly required>
						<div class="valid-feedback">Looks good!</div>
					</div>
					<br> <br> <br> <br>
					<div class="col-md-6">
						<label for="validationCustom01" class="form-label"> RUC</label> <input
							type="text" class="form-control" id="ruc" th:field="*{ruc}"
							placeholder="Escriba su correo electronico"
							aria-label="readonly input example" readonly required>
						<div class="valid-feedback">Looks good!</div>
					</div>
					<div class="col-md-6">
						<label for="validationCustom01" class="form-label">
							Celular</label> <input type="text" class="form-control" id="phone"
							th:field="*{phone}" placeholder="Escriba su numero de celular"
							aria-label="readonly input example" readonly required>
						<div class="valid-feedback">Looks good!</div>
					</div>
					<br> <br> <br> <br>

					<div class="col-md-6">
						<label for="validationCustom01" class="form-label">
							Contrasenia</label> <input type="text" class="form-control" id="password"
							th:field="*{password}" placeholder="Escriba su contrasenia"
							aria-label="readonly input example" readonly required>
						<div class="valid-feedback">Looks good!</div>
					</div>

					<div class="col-md-6">
						<label for="typeAffiliate">Tipo de Afiliado</label> <br> <select
							id="typeAffiliate" class="form-select form-select-lg mb-3"
							aria-label="Default select example" th:field="*{typeAffiliates}">
							<option th:each="typeAffiliate : ${typeAffiliates}"
								th:text="${typeAffiliate.type}+'-'+${typeAffiliate.time}"
								th:value="${typeAffiliate.id}"></option>
						</select>
					</div>


					<br> <br> <br> <br>

					<div class="col-md-6">
						<button class="btn btn-danger" type="submit">Guardar</button>
					</div>


					<div class="col-md-6">
						<a th:href="@{'/affiliates/typeaffiliate/list/'+ ${affiliate.id}}"
							class="btn btn-danger">Regresar</a>
					</div>

				</form>

			</div>
		</div>

	</div>
	<th:block th:include="fragment/scripts"></th:block>

</body>
</html>