<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragment/head"></th:block>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script th:src="@{/js/location.js}"></script>
<body>

	<th:block th:include="fragments/navbar"></th:block>

	<div class="container">
		<div class="card" style="max-width: 100%;">
			<div class="card-header">Registrar Usuario</div>
			<div class="card-body">

				<div th:object="${user}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" th:else ="${#fields.hasErrors('-1')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

			</div>

			<form th:object="${user}" th:action="@{/users/save}"
				class="row g-3 needs-validation" th:method="post">

				<div class="col-md-6">
					<label for="validationCustom01" class="form-label"> Nombres</label>
					<input type="text" class="form-control" id="firstname"
						th:errorclass="'form-control alert-danger'"
						th:field="*{firstName}" placeholder="Escriba sus nombres" required>

					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
					</small>

				</div>

				<div class="col-md-6">
					<label for="validationCustom01" class="form-label">
						Apellidos</label> <input type="text" class="form-control" id="lastname"
						th:errorclass="'form-control alert-danger'" th:field="*{lastName}"
						placeholder="Escriba sus apellidos" required> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
					</small>
				</div>

				<br> <br> <br> <br>

				<div class="col-md-6">
					<label for="validationCustom01" class="form-label"> Correo
						electronico</label> <input type="text" class="form-control" id="email"
						th:errorclass="'form-control alert-danger'" th:field="*{email}"
						placeholder="Escriba su correo electronico" required> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
					</small>
				</div>

				<div class="col-md-6">
					<label for="validationCustom01" class="form-label"> Celular</label>
					<input type="text" class="form-control" id="phone"
						th:errorclass="'form-control alert-danger'" th:field="*{phone}"
						placeholder="Escriba su numero de celular" required> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
					</small>
				</div>

				<br> <br> <br> <br>

				<div class="col-md-6">
					<label for="validationCustom01" class="form-label">
						Contrasenia</label> <input type="text" class="form-control" id="password"
						th:field="*{password}" th:errorclass="'form-control alert-danger'"
						placeholder="Escriba su contrasenia" required> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
					</small>
				</div>

				<div class="col-md-6">

					<label for="countries" class="form-label">Country</label>  <select
						id="countries" class="form-control" th:field="${user.country}" 
						name="country"> 
						<option value='-1' >Select Country</option>
						<option th:each="country:${countries}" th:value="${country.id}"
							th:text="${country.name}"/></option>
					</select>

				</div>

				<br> <br> <br> <br>

				<div class="col-md-6">
					<label for="department" class="form-label">Department</label> <select
						id="department" class="form-control" th:field="${user.department}" 
						name="department">
						<option value='-1'>Select Department</option>
					</select>
				</div>

				<div class="col-md-6">
					<label for="province" class="form-label">Province</label> <select
						id="province" class="form-control" th:field="${user.province}" 
						name="province">
						<option value='-1'>Select Province</option>
					</select>
				</div>

				<br> <br> <br> <br>

				<div class="col-md-6">
					<button class="btn btn-danger" type="submit">Registrate</button>
				</div>

				<div class="col-md-6">
					<a th:href="@{/users}" class="btn btn-danger">Regresar</a>
				</div>

			</form>


		</div>

	</div>
	<th:block th:include="fragment/scripts"></th:block>

</body>
</html>