<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragment/head"></th:block>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script th:src="@{/js/location.js}"></script>
<body>
	<th:block th:include="fragment/navbar"></th:block>
	<div class="container">
		<div class="card" style="max-width: 100%;">
			<div class="card-header">Perfil de Afiliado</div>
			<div class="card-body">
				<a th:href="@{/affiliates/new}" class="btn btn-primary">Nuevo</a>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Nombre</</th>
							<th>Apellido</th>
							<th>Nombre de la empresa</th>
							<th>Ruc de la empresa</th>
							<th>Telefono</th>
							<th>Email</th>
							<th>Pais</th>
							<th>Departamento</th>
							<th>Provincia</th>
							<th>Plan de Membresia</th>
							<th>Editar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="affiliate : ${affiliates}">

							<td th:text="${affiliate.firstName}">Nombre</td>
							<td th:text="${affiliate.lastName}">Apellido</td>
							<td th:text="${affiliate.companyName}">Nombre de la empresa</td>
							<td th:text="${affiliate.ruc}">Ruc de la empresa</td>
							<td th:text="${affiliate.phone}">Celular</td>
							<td th:text="${affiliate.email}">Email</td>
							<td th:text="${affiliate.country.name}">HAMP</td>
							<td th:text="${affiliate.department.name}">HAMP</td>
							<td th:text="${affiliate.province.name}">HAMP</td>

							<td><a th:href="@{/affiliateTypeAffiliates}"
								class="btn btn-primary">Planes de Membresia</a></td>
								
							<td><a th:href="@{'/affiliates/edit/'+ ${affiliate.id}}"
								class="btn btn-success">Editar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<th:block th:include="fragment/scripts"></th:block>

</body>
</html>