<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragment/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>

	<div class="container">
		<div class="card" style="max-width: 100%;">
			<div class="card-header">Registrar Afiliado</div>
			<div class="card-body">

				<div th:object="${affiliate}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

			</div>

			<form th:object="${affiliate}" th:action="@{/affiliates/save}"
				class="row g-3 needs-validation" novalidate th:method="post">

				<div class="col-md-6">
					<label for="validationCustom01" class="form-label"> Nombres</label>
					<input type="text" class="form-control" id="firstname"
						th:errorclass="'form-control alert-danger'"
						th:field="*{firstName}" placeholder="Escriba sus nombres" required>

					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
					</small>
				</div>

				<div class="col-md-6">
					<label for="validationCustom01" class="form-label">
						Apellidos</label> <input type="text" class="form-control" id="lastname"
						th:errorclass="'form-control alert-danger'" th:field="*{lastName}"
						placeholder="Escriba sus apellidos" required> 
						
						<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
					</small>
				</div>
				
				<br> <br> <br> <br>
				
				<div class="col-md-6">
					<label for="validationCustom01" class="form-label"> Nombre
						de la empresa</label> <input type="text" class="form-control"
						id="companyName" th:field="*{companyName}"
						th:errorclass="'form-control alert-danger'"
						placeholder="Escriba el nombre de la empresa" required> 
						
						<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}">
					</small>
				</div>

				<div class="col-md-6">
					<label for="validationCustom01" class="form-label"> Correo
						electronico</label> <input type="text" class="form-control" id="email"
						th:errorclass="'form-control alert-danger'" th:field="*{email}"
						placeholder="Escriba su correo electronico" required> 
						
						<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
					</small>
				</div>
				
				<br> <br> <br> <br>
				
				<div class="col-md-6">
					<label for="validationCustom01" class="form-label"> RUC</label> <input
						type="text" class="form-control" id="ruc" th:field="*{ruc}"
						th:errorclass="'form-control alert-danger'"
						placeholder="Escriba su correo electronico" required> 
						
						<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('ruc')}" th:errors="*{ruc}">
					</small>
				</div>
				<div class="col-md-6">
					<label for="validationCustom01" class="form-label"> Celular</label>
					<input type="text" class="form-control" id="phone"
						th:errorclass="'form-control alert-danger'" th:field="*{phone}"
						placeholder="Escriba su numero de celular" required> 
						
						<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
					</small>
				</div>
				<br> <br> <br> <br>
				<div class="col-md-6">
					<label for="validationCustom01" class="form-label">
						Contrasenia</label> <input type="password" class="form-control"
						id="password" th:field="*{password}"
						th:errorclass="'form-control alert-danger'"
						placeholder="Escriba su contrasenia" required> 
						
						<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
					</small>
				</div>

				<div class="col-md-6"></div>
				<br> <br> <br> <br>

				<div class="col-md-6">
					<button class="btn btn-danger" type="submit">Registrate</button>
				</div>



				<div class="col-md-6">
					<a th:href="@{/affiliates}" class="btn btn-danger">Regresar</a>
				</div>

			</form>

		</div>

	</div>
	<th:block th:include="fragment/scripts"></th:block>

</body>
</html>